<footer class="page-footer pt-0">
	<div class="container">
		<div class="row py-4 d-flex align-items-center">
			<div class="col-12 col-md-6 text-center text-md-left mb-4 mb-md-0">
				<h6 class="mb-0">Designed and developed by <a href="http://www.sanchezkaren.com/?utm_source=puppy_store&utm_medium=ecommerce-site">Karen Sanchez</a></h6>
			</div>
			<div class="col-12 col-md-6 text-center">
				<a href="https://unsplash.com/?utm_source=puppy_store&utm_medium=referral">
				Images by Unsplash &nbsp;<img src="images/camera.png" />
				</a>
			</div>
		</div>
	</div>
</footer>