<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="images/happypuppy5.png" width="70" height="50" alt="logo">
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right open-sidenav">
			<i class="lnr lnr-lg lnr-menu"></i>
		</ul>
	</div>
</nav>

<div class="sidenav animated">
	<a class="nav-link active" href="/#">Home</a>
	<a class="nav-link" href="/puppies">Puppies</a>
	<a class="nav-link" href="/cart">Cart</a>
</div>