<!-- <nav>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="images/puppy.JPG" width="100" height="70" alt="logo">
			</a>

			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link active" href="/#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/puppies">Puppies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/cart">Cart</a>
				</li>
			</ul>
		</div>
	</div>
</nav> -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="images/happypuppy5.png" width="140" height="100" alt="logo">
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		</ul>
	</div>
</nav>