.bd-example-container-body {
	height: 8rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: .25rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon { background-color: green; }

.overlay {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  z-index: 1;
  position: relative;
}

.photographer-account a{
	position: absolute;
	color: hsla(0,0%,100%,.8);
	width: 100%;
	z-index: 3;
	right: 0;
	bottom: 0;
}

table, th, td {
    border: 1px solid black;
}