@import url("./fonts/icons.css");

* {
  font-family: 'Fjalla One', sans-serif;
  /*font-family: 'Quicksand', sans-serif;*/
}

/*  SIDENAV  */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.bd-example-container-body {
  height: 8rem;
    margin-right: 4.5rem;
    background-color: #957bbe;
    border-radius: .25rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon { background-color: green; }

.overlay {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  z-index: 1;
  position: relative;
}

.photographer-account a{
  position: absolute;
  color: hsla(0,0%,100%,.8);
  width: 100%;
  z-index: 3;
  right: 0;
  bottom: 0;
}

table, th, td {
    border: 1px solid black;
}
