<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="container">

	<h1>Cart</h1>
	<button type="button" class="btn btn-danger empty-cart">Empty cart</button><hr />
	<table id="cart-table" style="width:100%">
		<tr>
			<th>Product title</th>
			<th>Product image</th>
			<th>Product price</th>
			<th>Remove item</th>
		</tr>
	</table>
	<h1 id="cart-total">TOTAL: $ </h1>
</div>

<% include ../partials/scripts %>

</body>
</html>
