<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="container">

	<h1>Cart</h1>
	<button type="button" class="btn btn-dark cart-test">Refresh cart</button><hr />
	<table style="width:100%">
	  <tr>
	    <th>Product title</th>
	    <th>Product price</th> 
	  </tr>
	  <tr>
	    <td class="product-name">Product 1</td>
	    <td class="product-price">14.35</td> 
	  </tr>
	  <tr>
	    <td class="product-name">Product 2</td>
	    <td class="product-price">57.54</td> 
	  </tr>
	</table>
	<strong>TOTAL:</strong>
</div>

<% include ../partials/scripts %>

</body>
</html>
