<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container cart-page">

	<h1 class="page-title mb-3">Cart</h1>
	<div class="mx-auto">
		<div class="mx-auto">
		<!-- <div class="mx-auto" style="width: 600px;"> -->
			<div id="cart-table"></div>
		</div>
	</div>
	<!-- empty cart -->
	<div class="text-center mt-5 mb-5">
		<button type="button" class="btn btn-secondary empty-cart">Empty cart</button>
	</div>
	<!-- procees to checkout -->
	<div class="text-right mb-5">
		<h3 id="cart-total">TOTAL: $ </h3>
		<a href="/checkout"><button type="button" class="btn btn-lg btn-custom">Checkout</button></a>
	</div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/scripts %>

</body>
</html>
