<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="container">
	<h1>Checkout</h1>
	<h2 id="checkout-total">Your total is: $</h2>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/scripts %>

</body>
</html>
